/**
 * Variables
 */
$white: #ffffff;
$black: #000000;

$dark: #252525;
$gray: #919191;
$light-gray: #cecece;
$very-light-gray: #f8f9fc;

$theme-color: #132a3a;
$theme-color2: #03686b;
$text-color: #030303;

$border-color: #929292;
$input-color: #313131;

$error-color: #d42c2c;

$font-primary: "Figtree", serif;

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

$theme-border-radius: 15px;

