/**
 * Variables
 */
$white: #ffffff;
$black: #000000;

$gray: #1e2026;
$light-gray: rgba(232, 237, 238, 0.5);
$very-light-gray: #f5f5f5;

$theme-color: #3530ea;
$text-color: #4e4e4e;
$text-color-navy: #121f30;

$border-color: #686868;
$text-color2: #c3c7cb;
$input-color: #4e4e4e;

$error-color: #d42c2c;

$font-primary: 'Figtree', serif;

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

$theme-border-radius: 15px;
