.theme-blog {
  width: 100%;

  &__container {
    width: 100%;
    display: flex;
    gap: 20px;
  }

  &__sidebar {
    width: 100%;
    max-width: 329px;
  }

  &__wrapper {
    width: 100%;
  }

  .theme-blog__image {
    position: relative;
  }

  .theme-blog__image .cover {
    position: absolute;
    inset: 0;
    display: block;
    z-index: 1;
  }

  .theme-blog__sidebar {
    position: relative;
    z-index: 2;
  }
}
