.theme-blog {
  width: 100%;
  margin: 0 0 100px;

  @media (max-width: 991px) {
    padding: 0;
    margin: 0 0 80px;
  }

  &__container {
    width: 100%;
    display: flex;
    gap: 20px;

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
  }

  &__empty-column {
    width: 100%;
    max-width: 329px;
  }

  &__sidebar {
    width: 100%;
    max-width: 329px;
    position: relative;
    z-index: 2;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  &__wrapper {
    width: 100%;
  }

  &__section-title {
    @extend .h2;
  }

  &__intro {
    padding: 0 0 32px;
    border-bottom: 1px solid #e6e6e2;
    margin: 0 0 32px;

    p {
      color: #4e4e4e;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.1;
      letter-spacing: 0.25px;
      margin: 16px 0 0;
      max-width: 850px;

      &:first-of-type {
        margin: 16px 0 0;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 20px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__column {
    grid-column: span 4;

    @media (max-width: 991px) {
      grid-column: 1 / -1;
    }

    &--big {
      grid-column: span 8;

      @media (max-width: 991px) {
        grid-column: 1 / -1;
      }
    }
  }

  &__item {
    width: 100%;
    background: $very-light-gray;
    border-radius: 10px;
    height: 400px;
    display: flex !important; // override slick default display inline block
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    align-items: flex-start;
    gap: 32px;
    position: relative;

    @media (max-width: 991px) {
      margin: 0;
      height: auto;
    }

    > div {
      width: 100%;
    }

    &--big {
      @media (min-width: 1200px) {
        flex-direction: row;
      }

      > div {
        &:first-of-type {
          max-width: 213px;
          @media (max-width: 991px) {
            max-width: 100%;
          }
        }
      }
    }

    &:first-child {
      @media (max-width: 991px) {
        margin: 16px 0 0;
      }
    }
  }

  &__tags {
    display: flex;
    gap: 10px;
    width: 100%;
    margin: 0 0 8px;

    a {
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 0;
      font-weight: 400;
      color: $theme-color;
      text-decoration: none;
    }
  }

  &__title {
    @extend .h4;
    font-weight: 500;
    color: $black;

    &:hover {
      color: $black;
    }

    &--big {
      @media (min-width: 1200px) {
        font-weight: 500;
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0px;
      }
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 170px;
    border-radius: 5px;

    @media (max-width: 991px) {
      height: 300px;
    }

    @media (max-width: 991px) {
      height: 170px;
    }

    img {
      border-radius: 5px;
    }

    &--big {
      height: 324px;

      @media (max-width: 991px) {
        height: 300px;
      }

      @media (max-width: 991px) {
        height: 170px;
      }
    }
  }

  &__date {
    display: inline-flex;
    gap: 8px;
    padding: 5px 10px;
    border-radius: 10px;
    color: $black;
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    align-items: center;
    margin: 12px 0 0;

    &::before {
      width: 16px;
      height: 16px;
      background: url('./images/blog-calendar-icon.svg') center/contain no-repeat;
      display: block;
      content: '';
    }
  }

  &__carousel-rail {
    width: 100%;
    max-width: none;
    margin-left: 0;
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__carousel {
    margin: 16px 0 100px;
    overflow: visible;

    &:before {
      @media (min-width: 992px) {
        content: '';
        display: block;
        height: 100%;
        width: 50vw;
        background-color: $white;
        position: absolute;
        left: -50vw;
        top: 0;
        z-index: 2;
      }
    }

    .slick-slide {
      margin: 0;
    }

    .slick-list {
      overflow: visible;
      margin: 0;
    }

    .slick-track {
      margin-left: 0;
    }

    .slick-arrow {
      width: 31px;
      height: 32px;
      background: #f5f5f5 url('./images/slick-arrow.svg') center/12px 12px no-repeat;
      font-size: 0;
      line-height: 0;
      padding: 0;
      color: transparent;
      cursor: pointer;
      position: absolute;
      display: block;
      bottom: -60px;
      border-radius: 0;

      @media (max-width: 991px) {
        bottom: auto;
        top: -30px;
      }
    }

    .slick-prev {
      transform: rotate(180deg);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      @media (max-width: 991px) {
        bottom: auto;
        top: -30px;
        right: 31px;
        left: auto;
      }
    }

    .slick-next {
      left: 31px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      @media (max-width: 991px) {
        bottom: auto;
        top: -30px;
        right: 0;
        left: auto;
      }
    }

    .slick-arrow.slick-prev.slick-disabled {
      background: #f5f5f5 url('./images/slick-arrow-disabled.svg') center/12px 12px no-repeat;
    }

    .slick-arrow.slick-next.slick-disabled {
      background: #f5f5f5 url('./images/slick-arrow-disabled.svg') center/12px 12px no-repeat;
    }
  }

  @media (min-width: 1200px) {
    &__carousel-rail {
      width: calc(100vw - (50vw - 50%));
      gap: 16px;
    }

    &__carousel {
      .slick-slide {
        margin: 0 20px 0 0;
      }

      .slick-list {
        margin: 0 -20px 0 0;
      }
    }
  }

  @media (max-width: 991px) {
    &__carousel-rail {
      width: 100%;
    }

    &__carousel {
      margin: 0 0 50px;

      .slick-list {
        overflow: hidden;
        margin: 0;
      }
      .slick-slide {
        margin: 0;
      }
      .slick-track {
        margin: 0;
      }
    }
  }
}
