.header {
  z-index: 20;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  transition: all 150ms ease;
  min-height: 74px;
  background: $white;
}

body.admin-bar {
  .header {
    top: 0;

    &--fixed {
      top: 0;
    }
  }
}
