.nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  transition: all 250ms ease;
  z-index: 10;

  @media (max-width: 991px) {
    padding: 10px 0;
    min-height: 65px;
  }

  &--fixed {
    padding: 5px 0;
  }

  &__logo {
    width: 250px;
    flex-shrink: 0;
    position: relative;
    transition: all 250ms ease;

    @media (max-width: 991px) {
      position: static;
    }

    img,
    svg {
      max-width: 100%;
      height: auto;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
    gap: 16px;
  }

  &__social-media {
    margin: 0 0 0 30px;

    @media (max-width: 499px) {
      display: none;
    }

    li {
      a {
        width: 25px;
        height: 25px;

        img {
          filter: brightness(0) invert(1);

          @media (max-width: 991px) {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }

  &__menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    @media (min-width: 1200px) {
      transition: all 350ms ease-in-out;
    }

    @media (max-width: 1199px) {
      flex-direction: column;
      background: $white;
      color: $text-color;
      position: absolute;
      top: calc(100% - 2px);
      display: none;
      z-index: 10;
      left: -15px;
      width: calc(100% + 30px);
      padding: 25px 0 30px;
    }

    > li {
      margin: 0;
      position: relative;

      @media (max-width: 1199px) {
        width: 100%;
        text-align: center;
        margin: 0;
      }

      &:first-child {
        margin: 0;
      }

      > a {
        font-size: 16px;
        letter-spacing: 2%;
        color: $black;
        font-weight: 500;
        padding: 12.5px 10px;
        transition: all 300ms ease;
        display: inline-flex;
        align-items: center;

        &:hover {
          color: $theme-color;

          &::before {
            transform: scale(1, 1);
          }
          + ul.sub-menu {
            @media (min-width: 1200px) {
              transform: scale(1);
            }
          }
        }

        @media (max-width: 1199px) {
          padding: 10px 0;
          color: $text-color;
          text-transform: uppercase;
          font-size: 16px;
        }
      }

      &.menu-item-has-children {
        > a {
          gap: 6px;

          &::after {
            content: '';
            display: block;
            background: url('./images/dash-icon.svg') center/contain no-repeat;
            width: 8px;
            height: 12px;
          }

          @media (min-width: 1200px) {
            padding: 5px 5px 43px;
            margin: 9px 0 -38px;
          }
        }
      }

      > ul.sub-menu {
        display: block;
        min-width: 320px;

        @media (min-width: 1200px) {
          transform-origin: top;
          transform: scale(1, 0);
          transition: all 350ms ease;
          position: absolute;
          top: 66px;
          background: $white;
          padding: 0;
          left: 5px;
          z-index: 10;
        }

        @media (max-width: 1199px) {
          padding: 12px 0 20px;
          background: $white;
          display: none;
        }

        li {
          a {
            padding: 0;
            color: $text-color;
            text-transform: initial;
            font-size: 14px;
            font-weight: 500;
            display: block;
            padding: 8px 15px;
            line-height: 1;
            transition: all 300ms ease;

            &:hover {
              background: $theme-color;
            }

            @media (max-width: 1199px) {
              font-size: 15px;
            }
          }
        }

        /* submenu other styles */
        &:hover {
          transform: scale(1);
        }

        &--fixed {
          @media (min-width: 1200px) {
            top: 56px;
          }
        }
      }
    }
  }

  &__cart-icon {
    position: relative;
    margin: 0 10px 0 30px;

    img,
    svg {
      max-width: 40px;
      display: block;
      position: relative;
      z-index: 1;
      /* temporary styles */
      filter: brightness(0);
      height: 40px;
      width: 40px;
    }

    // &--subpage {
    //   img {
    //     filter: brightness(0);
    //   }
    // }

    span {
      position: absolute;
      right: -13px;
      top: -5px;
      z-index: 2;
      width: 22px;
      height: 22px;
      color: $white;
      background: $theme-color;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 15px;
      border-radius: 50%;
      transition: all 300ms ease;

      &.active {
        animation: pulse 700ms forwards ease-in-out;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2.5);
  }

  100% {
    transform: scale(1);
  }
}
