/* 
 * Import fonts
 */

/*
 * Typography
 */

h1,
.h1,
h1 > strong,
h1 > b,
h1 > span {
  color: $black;
  font-family: $font-primary;
  font-size: 51px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0px;

  @media (max-width: 767px) {
    font-size: 26px;
    line-height: 115%;
    font-weight: 500;
  }
}

h2,
.h2,
h2 > strong,
h2 > b,
h2 > span {
  color: $black;
  font-family: $font-primary;
  font-size: 36px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0px;

  @media (max-width: 767px) {
    font-size: 26px;
  }
}

h3,
.h3,
h3 > strong,
h3 > b,
h3 > span {
  color: $black;
  font-family: $font-primary;
  font-size: 26px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0px;

  @media (max-width: 767px) {
    font-size: 26px;
  }
}

h4,
.h4,
h4 > strong,
h4 > b,
h4 > span {
  color: $black;
  font-family: $font-primary;
  font-size: 21px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0px;

  @media (max-width: 767px) {
    font-size: 21px;
  }
}

h5,
.h5,
h5 > strong,
h5 > b,
h5 > span {
  color: $black;
  font-family: $font-primary;
  font-size: 17px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0px;

  @media (max-width: 767px) {
    font-size: 17px;
  }
}

p,
.paragraph {
  font-size: 17px;
  line-height: 105%;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 20px 0 0;
  color: $black;

  // @media (max-width: 767px) {
  //   margin: 20px 0 0;
  // }

  &:first-of-type {
    margin: 32px 0 0;
  }

  > a {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.65;
    text-decoration: underline;
    display: inline-block;
    color: $black;

    &:hover {
      text-decoration: underline;
      color: $black;
    }
  }

  > strong {
    font-weight: 600;
    font-size: 17px;
    line-height: 1.65;
    color: $black;
  }

  > span {
    font-size: 17px;
    line-height: 1.65;
    font-weight: 400;
    color: $black;
  }
}

ul > li,
ol > li,
ul.wp-block-list li,
ol.wp-block-list li {
  font-size: 17px;
  line-height: 1.65;
  font-weight: 400;

  > strong {
    font-weight: 600;
    font-size: 17px;
    line-height: 1.65;
    color: $black;
  }

  > span {
    font-size: 17px;
    line-height: 1.65;
    font-weight: 400;
    color: $black;
  }
}
