.button {
  border: 1px solid $theme-color;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2%;
  display: inline-flex;
  line-height: 100%;
  align-items: center;
  gap: 10px;
  background: $theme-color;
  color: $white;
  transition: all 300ms ease;
  white-space: nowrap;
  flex-shrink: 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  @media (max-width: 767px) {
    width: 100%;
  }

  &:hover {
    color: $white;
    border: 1px solid $theme-color;
    background: $theme-color;
  }

  &--phone {
    &::before {
      display: block;
      content: '';
      background: url('./images/phone-icon.svg') center/contain no-repeat;
      flex-shrink: 0;
      width: 18px;
      height: 18px;
    }
  }

  &--arrow {
    padding: 5px 5px 5px 10px;
    justify-content: space-between;

    &::after {
      display: block;
      content: '';
      background-color: $white;
      background-image: url('./images/arrow-icon.svg');
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      border-radius: 2px;
    }
  }

  &--arrow-mobile-light {
    padding: 5px 5px 5px 10px;
    justify-content: space-between;

    @media (max-width: 767px) {
      width: 100%;
      justify-content: center;
    }

    &::after {
      display: block;
      content: '';
      background-color: $white;
      background-image: url('./images/arrow-icon.svg');
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      border-radius: 2px;

      @media (max-width: 767px) {
        background-color: $theme-color;
        background-image: url('./images/arrow-icon-white.svg');
      }
    }
  }

  &--w-100 {
    text-align: center;
    justify-content: center;
    width: 100%;
  }
}
