.button {
  border: 1px solid $theme-color;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2%;
  display: inline-flex;
  line-height: 100%;
  align-items: center;
  gap: 10px;
  background: $theme-color;
  color: $white;
  transition: all 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
  white-space: nowrap;
  flex-shrink: 0;
  text-align: center;
  position: relative;

  @media (max-width: 991px) {
    width: 100%;
    padding: 8px 10px;
  }

  &:hover {
    color: $white;
    border: 1px solid $theme-color;
    background: $theme-color;
  }

  &--phone {
    &::before {
      display: block;
      content: '';
      background: url('./images/phone-icon.svg') center/contain no-repeat;
      flex-shrink: 0;
      width: 18px;
      height: 18px;
    }

    @media (max-width: 991px) {
      align-items: center;
      justify-content: center;
    }
  }

  &--arrow,
  &--arrow-mobile-light {
    padding: 5px 5px 5px 10px;
    justify-content: space-between;
    display: inline-flex;
    width: auto;

    &::before {
      display: block;
      content: '';
      background-color: $white;
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      border-radius: 2px;
      position: relative;
      z-index: 1;
      order: 2;
      transition: all 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    &::after {
      display: block;
      content: '';
      background-image: url('./images/arrow-icon.svg');
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;
      width: 12px;
      height: 12px;
      position: absolute;
      right: 13px;
      z-index: 2;
      transition: all 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
      order: 3;
    }

    span.animation {
      transition: all 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
      width: 0px;
    }

    &:hover {
      span.animation {
        width: 20px;
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &--arrow-mobile-light {
    @media (max-width: 991px) {
      width: 100%;
      justify-content: center;
      padding: 11px;
    }

    &::before {
      @media (max-width: 991px) {
        display: none;
      }
    }

    &::after {
      @media (max-width: 991px) {
        filter: brightness(0) invert(1);
        position: static;
      }
    }

    span {
      @media (max-width: 991px) {
        display: none;
      }
    }

    &:hover {
      &::after {
        @media (max-width: 991px) {
          transform: rotate(0);
        }
      }
    }
  }

  &--w-100 {
    text-align: center;
    justify-content: center;
    width: 100%;

    @media (max-width: 991px) {
      width: 100%;
      justify-content: center;
      text-align: center;
    }

    &::after {
      @media (max-width: 991px) {
        position: static;
      }
    }
  }

  &--w-100-mobile {
    @media (max-width: 991px) {
      text-align: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}
