.spacer {
  width: 100%;

  // importants are necessary to override inline height styles
  &--mobile-h-10 {
    @media (max-width: 767px) {
      height: 10px !important;
    }
  }
  &--mobile-h-20 {
    @media (max-width: 767px) {
      height: 20px !important;
    }
  }
  &--mobile-h-30 {
    @media (max-width: 767px) {
      height: 30px !important;
    }
  }
  &--mobile-h-40 {
    @media (max-width: 767px) {
      height: 40px !important;
    }
  }
  &--mobile-h-50 {
    @media (max-width: 767px) {
      height: 50px !important;
    }
  }
  &--mobile-h-60 {
    @media (max-width: 767px) {
      height: 60px !important;
    }
  }
  &--mobile-h-70 {
    @media (max-width: 767px) {
      height: 70px !important;
    }
  }
  &--mobile-h-80 {
    @media (max-width: 767px) {
      height: 80px !important;
    }
  }
  &--mobile-h-90 {
    @media (max-width: 767px) {
      height: 90px !important;
    }
  }
  &--mobile-h-100 {
    @media (max-width: 767px) {
      height: 100px !important;
    }
  }
  &--mobile-h-110 {
    @media (max-width: 767px) {
      height: 110px !important;
    }
  }
  &--mobile-h-120 {
    @media (max-width: 767px) {
      height: 120px !important;
    }
  }
  &--mobile-h-130 {
    @media (max-width: 767px) {
      height: 130px !important;
    }
  }
  &--mobile-h-140 {
    @media (max-width: 767px) {
      height: 140px !important;
    }
  }
  &--mobile-h-150 {
    @media (max-width: 767px) {
      height: 150px !important;
    }
  }
  &--mobile-h-160 {
    @media (max-width: 767px) {
      height: 160px !important;
    }
  }
  &--mobile-h-170 {
    @media (max-width: 767px) {
      height: 170px !important;
    }
  }
  &--mobile-h-180 {
    @media (max-width: 767px) {
      height: 180px !important;
    }
  }
  &--mobile-h-190 {
    @media (max-width: 767px) {
      height: 190px !important;
    }
  }
  &--mobile-h-200 {
    @media (max-width: 767px) {
      height: 200px !important;
    }
  }
}
