.spacer {
  width: 100%;

  // importants are necessary to override inline height styles
  &--mobile-10 {
    @media (max-width: 991px) {
      height: 10px !important;
    }
  }
  &--mobile-15 {
    @media (max-width: 991px) {
      height: 15px !important;
    }
  }
  &--mobile-20 {
    @media (max-width: 991px) {
      height: 20px !important;
    }
  }
  &--mobile-30 {
    @media (max-width: 991px) {
      height: 30px !important;
    }
  }
  &--mobile-32 {
    @media (max-width: 991px) {
      height: 32px !important;
    }
  }
  &--mobile-40 {
    @media (max-width: 991px) {
      height: 40px !important;
    }
  }
  &--mobile-50 {
    @media (max-width: 991px) {
      height: 50px !important;
    }
  }
  &--mobile-60 {
    @media (max-width: 991px) {
      height: 60px !important;
    }
  }
  &--mobile-70 {
    @media (max-width: 991px) {
      height: 70px !important;
    }
  }
  &--mobile-80 {
    @media (max-width: 991px) {
      height: 80px !important;
    }
  }
  &--mobile-90 {
    @media (max-width: 991px) {
      height: 90px !important;
    }
  }
  &--mobile-100 {
    @media (max-width: 991px) {
      height: 100px !important;
    }
  }
  &--mobile-110 {
    @media (max-width: 991px) {
      height: 110px !important;
    }
  }
  &--mobile-120 {
    @media (max-width: 991px) {
      height: 120px !important;
    }
  }
  &--mobile-130 {
    @media (max-width: 991px) {
      height: 130px !important;
    }
  }
  &--mobile-140 {
    @media (max-width: 991px) {
      height: 140px !important;
    }
  }
  &--mobile-150 {
    @media (max-width: 991px) {
      height: 150px !important;
    }
  }
  &--mobile-160 {
    @media (max-width: 991px) {
      height: 160px !important;
    }
  }
  &--mobile-170 {
    @media (max-width: 991px) {
      height: 170px !important;
    }
  }
  &--mobile-180 {
    @media (max-width: 991px) {
      height: 180px !important;
    }
  }
  &--mobile-190 {
    @media (max-width: 991px) {
      height: 190px !important;
    }
  }
  &--mobile-200 {
    @media (max-width: 991px) {
      height: 200px !important;
    }
  }
}
