.blank-image {
  width: 100%;
  height: 500px;
  position: relative;
  border-radius: 5px;

  @media (max-width: 1199px) {
    padding: 0 10px;
    height: 430px !important;
  }

  @media (max-width: 991px) {
    height: 330px !important;
  }

  @media (max-width: 550px) {
    height: 200px !important;
  }

  img {
    border-radius: 5px;
  }
}
