.homepage-hero {
  width: 100%;
  text-align: left;
  position: relative;
  margin: 68px 0 0;

  @media (max-width: 767px) {
    margin: 20px 0 0;
  }

  &__row {
    align-items: center;
  }

  &__content {
    padding: 32px;

    @media (max-width: 767px) {
      padding: 0;
    }

    p {
      font-size: 21px;
      font-weight: 500;

      @media (max-width: 767px) {
        font-size: 17px;
        line-height: 105%;
        font-weight: 400;
        margin: 16px 0 0;
      }

      em {
        font-size: 17px;
        font-weight: 400;
        line-height: 105%;
        color: #7d7d7d;
        font-style: normal;

        @media (max-width: 767px) {
          font-size: 15px;
          line-height: 115%;
          letter-spacing: 0.25px;
        }
      }
    }
  }

  &__title {
    color: $theme-color;
  }

  &__subtitle {
    margin: 10px 0 0;
    color: $theme-color;
    @extend .h4;
  }

  &__button {
    margin: 30px 0 0;

    @media (max-width: 767px) {
      width: auto;
      margin: 16px 0 0;
    }
  }

  &__picture {
    width: 100%;
    height: 511px;
    border-radius: $theme-border-radius;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 767px) {
      margin: 20px 0 0;
      height: 350px;
    }

    @media (max-width: 450px) {
      height: 263px;
    }

    img {
      max-width: 678px;
      object-position: center left;
      border-radius: $theme-border-radius;
    }

    &--reverse {
      /* temporary styles */
      img {
        // object-position: center right;
        object-position: left bottom;
      }
    }

    &--big {
      height: 520px;

      @media (max-width: 767px) {
        height: 440px;
      }
    }
  }
}
