.section-title {
  width: 100%;
  position: relative;

  @media (max-width: 767px) {
    padding: 0 10px;
  }

  h2 {
    @extend .h1;
    color: $text-color-navy;
  }

  p {
    text-transform: initial;
    max-width: 1050px;
    text-align: left;
  }

  &__wrapper {
    width: 100%;
    position: relative;
    max-width: 996px;

    &--centered {
      text-align: center;
      max-width: 100%;

      @media (max-width: 767px) {
        text-align: left;
        max-width: 249px;
      }

      p {
        text-align: center;
        margin: 0 auto !important;
      }
    }
  }

  &__decoration-text {
    padding: 5px 15px;
    margin: 0 0 8px;
    border-radius: 5px;
    background: $very-light-gray;
    color: $black;
    font-size: 15px;
    letter-spacing: 0.25px;
    font-weight: 500;
    display: inline-flex;
    gap: 8px;
    display: inline-flex;
    align-items: center;

    @media (max-width: 767px) {
      text-align: left;
      align-items: flex-start;
      background: none;
      padding: 5px 0;
      gap: 10px;
    }

    &::before {
      display: block;
      content: '';
      background: $theme-color;
      width: 9px;
      height: 9px;
      border-radius: 50%;

      @media (max-width: 767px) {
        width: 16px;
        height: 16px;
        position: relative;
        bottom: -1px;
      }
    }
  }

  &--small {
    h2 {
      @extend .h2;
    }

    .section-title__wrapper {
      max-width: 683px;
      margin: 0 auto;
    }
  }
}
