.single-image-text {
  width: 100%;

  @media (max-width: 991px) {
    padding: 0 10px;
  }

  &__container {
    padding: 16px;
    background: $very-light-gray;
    border-radius: 10px;
    width: 100%;
  }

  &__wrapper {
    gap: 16px;
    display: flex;
    width: 100%;
  }

  &__title {
    @extend .h5;
  }

  &__text {
    margin: 8px 0 0;
    width: 100%;

    * {
      color: $text-color-navy;
      font-size: 15px;
      line-height: 1.1;
      letter-spacing: 0.25px;
      margin: 0;
    }

    p {
      &:first-child,
      &:first-of-type {
        margin: 0;
      }
    }
  }

  &__picture {
    height: 116px;
    width: 140px;
    flex-shrink: 0;

    img {
      border-radius: 3px;
    }
  }

  &__link {
    margin: 15px 0 0;

    &--mobile {
      @media (max-width: 991px) {
        margin: 16px 0 0;
      }
    }
  }
}
