.subpage-hero {
  width: 100%;
  position: relative;

  &__wrapper {
    position: relative;
    z-index: 2;

    @media (max-width: 767px) {
      padding: 50px 0;
    }
  }

  &__title {
    color: $text-color;
  }
}
