.numbers {
  position: relative;

  @media (max-width: 1199px) {
    padding: 0 10px;
  }

  &__content {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
  }

  &__wrapper {
    width: 100%;
    max-width: 683px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

    @media (max-width: 991px) {
      padding: 55px 0;
    }

    @media (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &--about {
      @media (max-width: 991px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  &__item {
    width: 100%;
    padding: 16px;
    background: $very-light-gray;
    border-radius: 10px;
  }

  &__digit {
    @extend .h2;
    position: relative;
    display: inline-block;
    width: auto;
    opacity: 0;
    transition: all 350ms ease;
  }

  &__title {
    @extend .h4;
    margin: 16px 0 0;
  }
}
